body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1,
h2 {
    text-align: center;
}

#contenedor-productos {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.producto {
    border: 1px solid #ccc;
    padding: 10px;
    width: 150px;
    text-align: center;
}

button {
    margin-top: 5px;
    cursor: pointer;
}